<!doctype html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!--        <link rel="stylesheet" href="assets/css/slicknav.css">-->
    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/animate.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/custom.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link rel="stylesheet" href="assets/css/hover.css">
    <link rel="stylesheet" href="assets/css/hover.less">
    <link rel="stylesheet" href="assets/css/hover.scss">

    <script src="assets/js/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-route.min.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <div class="container" ng-app>
        <h2 class="tect-center">Form Validation with angular js</h2>

        <form class="form-horizontal" action="" name="myform" novalidate>
            <fieldset>
                <input type="text" class="form-control" placeholder="first name" name="fname" ng-model="fname" ng-required="true"><br/>
                <p ng-show="myform.fname.$invalid && myform.fname.$touched ">You must be filled out this field with your first name!!</p>
                <input type="text" class="form-control" placeholder="last name" name="lname" ng-model="lname" ng-required="true"><br/>
                <p ng-show="myform.lname.$invalid && myform.lname.$touched">You must be filled out this field with your last name!!</p>
                <input type="email" class="form-control" placeholder="email" name="email" ng-model="email" ng-required="true"><br>
                <p ng-show="myform.email.$invalid && myform.email.$touched">You must be filled out this field!!</p>
                <input type="submit" class="btn btn-success">
            </fieldset>



        </form>



    </div>





    <script src="assets/js/vendor/jquery-1.12.0.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <!--        <script src="assets/js/jquery.slicknav.min.js"></script>-->
    <script src="assets/js/jquery.fitvids.js"></script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/main.js"></script>

    <script>
        new WOW().init();

    </script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->

    <script>
        (function(b, o, i, l, e, r) {
            b.GoogleAnalyticsObject = l;
            b[l] || (b[l] =
                function() {
                    (b[l].q = b[l].q || []).push(arguments)
                });
            b[l].l = +new Date;
            e = o.createElement(i);
            r = o.getElementsByTagName(i)[0];
            e.src = 'https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e, r)
        }(window, document, 'script', 'ga'));
        ga('create', 'UA-XXXXX-X', 'auto');
        ga('send', 'pageview');

    </script>
</body>

</html>
